<header>
    <nav>
      <a href="/">Movies</a>
      <ul>
        <li><a href="/ratings">Ratings</a></li>
        <li><a href="/ratings/new">Add Ratings</a></li>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/movies/new">Add Movie</a></li>
      </ul>
    </nav>
  </header>